@{
    ViewData["Title"] = "Início";
}
<div class="row g-4">
    <div class="col-md-6 col-lg-4">
        <div class="card p-3">
            <h5>Projetos</h5>
            <p class="text-muted">Gerencie os projetos e seus responsáveis.</p>
            <a class="btn btn-primary" href="/Projects">Abrir</a>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card p-3">
            <h5>Equipes</h5>
            <p class="text-muted">Cadastre equipes e vincule membros e projetos.</p>
            <a class="btn btn-primary" href="/Teams">Abrir</a>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card p-3">
            <h5>Tarefas</h5>
            <p class="text-muted">Crie tarefas e acompanhe o status.</p>
            <a class="btn btn-primary" href="/Tasks">Abrir</a>
        </div>
    </div>
</div>
